body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  background: rgb(231, 212, 250);
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}

.card {
  perspective: 1000px;
  transform-style: preserve-3d;
}

.card-item {
  background: rgb(245, 154, 248);
  width: 250px;
  height: 250px;
  /* transition: transform 0.2s; */
  /* transform: rotateX(20deg); */
}